  @media (max-width: 767px) {
      .container {
        flex-direction: column;
      }
      h1 {
        font-size: 1.5em;
      }
    }

     @media (min-width: 768px) and (max-width: 1023px) {
      /* ... */
    }


.background{
    background-color:black;
    height: 400vh;
}

.ak{
    color: whitesmoke;
    margin-left: 30px;
    opacity: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.python{
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

.prof{
    margin-left: 680px;
    margin-top: 100px;
}

.tech{
    margin-left: 200px;
}

.front{
    margin-top: 50px;
    margin-left: 100px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.sum{
    margin-top: 50px;
    margin-left: 5px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.abesh{
    width: 400px;
    height: 450px;
    margin-left: 200px;
    margin-top: 70px;
}

.edu{
    margin-left: 230px;
    margin-top: 60px;
}

.ski{
    margin-left: 300px;
    margin-top: 60px;
}

.prist{
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bsc{
    margin-left: 130px;
}

.skills{
    margin-left: 150px;
    color: gray;
}

.pt{
    margin-top: 80px;
    margin-left: 420px;
}

.greens{
    margin-left: 30px;
    color: gray;
}

.green{
    margin-top: 60px;
    margin-left: 60px;
}

.gtec{
    color: grey;
    margin-left: 30px;
    margin-top: 60px;
}

.gte{
    margin-left: 60px;
}

.ct{
    margin-left: 670px;
    margin-top: 60px;
    color: gray;
}

.cnt{
    margin-left: 500px;
    margin-top: 60px;
}