.background{
    background-color:black;
    height: 850vh;
}

.ak{
    color: whitesmoke;
    margin-left: 30px;
    opacity: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.python{
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

.prof{
    margin-left: 680px;
    margin-top: 100px;
}

.tech{
    margin-left: 200px;
}

.front{
    margin-top: 50px;
    margin-left: 40px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.sum{
    margin-top: 50px;
    margin-left: 5px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.abesh{
    width: 400px;
    height: 450px;
    margin-left: 200px;
    margin-top: 70px;
}

.edu{
    margin-left: 230px;
    margin-top: 60px;
}

.ski{
    margin-left: 300px;
    margin-top: 60px;
}

.prist{
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bsc{
    margin-left: 130px;
}

.skills{
    margin-left: 150px;
    color: gray;
}

.pt{
    margin-top: 80px;
    margin-left: 420px;
}

.greens{
    margin-left: 30px;
    color: gray;
}

.green{
    margin-top: 60px;
    margin-left: 60px;
}

.gtec{
    color: grey;
    margin-left: 30px;
    margin-top: 60px;
}

.gte{
    margin-left: 60px;
}

.ct{
    margin-left: 630px;
    margin-top: 90px;
    color: gray;
}

.cnt{
    margin-left: 500px;
    margin-top: 60px;
}

@media only screen and (max-width: 425px){
.background{
    height: 1200vh;
    background-color: black;
    
}

.ak{
    color: whitesmoke;
    margin-left: 20px;
    opacity: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.python{
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

.prof{
    margin-left: 150px;
    margin-top: 100px;
}

.tech{
    margin-left: 40px;
}

.front{
    margin-top: 50px;
    margin-left: 40px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.sum{
    margin-top: 50px;
    margin-left: 5px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.abesh{
    width: 220px;
    height: 250px;
    margin-left: 10px;
    margin-top: 240px;
}

.edu{
    margin-left: 20px;
    margin-top: 60px;
}

.ski{
    margin-left: 40px;
    margin-top: 60px;
}

.prist{
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bsc{
    margin-left: 5px;
}

.skills{
    margin-left: 13px;
    color: gray;
}

.pt{
    margin-top: 80px;
    margin-left: 30px;
}

.greens{
    margin-left: 20px;
    color: gray;
}

.green{
    margin-top: 60px;
    margin-left: 20px;
}

.gtec{
    color: grey;
    margin-left: 20px;
    margin-top: 60px;
}

.gte{
    margin-left: 20px;
}

.ct{
    margin-left: 150px;
    margin-top: 90px;
    color: gray;
}

.cnt{
    margin-left: 40px;
    margin-top: 40px;
}



}

@media only screen and (max-width: 375px){
    .background{
        height: 1300vh;
        background-color: black;
    }
    .front{
        margin-left: 30px;
    }
    .tech{
        margin-left: 10px;
    }
   
}